In [20]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [21]:
data = DataFrame(np.arange(16).reshape(4,4), index=['Florida', 'Ohio', 'Maine', 'New york'], columns=['one', 'two', 'three', 'four'])

In [22]:
data

          one  two  three  four
Florida     0    1      2     3
Ohio        4    5      6     7
Maine       8    9     10    11
New york   12   13     14    15

In [23]:
data.memory_usage()

Index    32
one      32
two      32
three    32
four     32
dtype: int64

In [24]:
data['two'] = 0

In [25]:
df = DataFrame({'foo':[1,2,3,4]})
df

   foo
0    1
1    2
2    3
3    4

In [26]:
df + 1

   foo
0    2
1    3
2    4
3    5

In [27]:
df + 2

   foo
0    3
1    4
2    5
3    6

In [28]:
df

   foo
0    1
1    2
2    3
3    4

In [29]:
Out

{22:           one  two  three  four
 Florida     0    0      2     3
 Ohio        4    0      6     7
 Maine       8    0     10    11
 New york   12    0     14    15, 23: Index    32
 one      32
 two      32
 three    32
 four     32
 dtype: int64, 25:    foo
 0    1
 1    2
 2    3
 3    4, 26:    foo
 0    2
 1    3
 2    4
 3    5, 27:    foo
 0    3
 1    4
 2    5
 3    6, 28:    foo
 0    1
 1    2
 2    3
 3    4}

In [30]:
%reset Out

Once deleted, variables cannot be recovered. Proceed (y/[n])? y
Flushing output cache (6 entries)

In [31]:
Out

{}